<?xml version="1.0" encoding="utf-8"?>
<AppRunOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <AppName>TaskManager</AppName>
    <Users>
        <User Role="Developer">
            <Names FullName="Fish.Q.Li" ShortName="fish" />
        </User>
        <User Role="Admin">
            <Names FullName="李奇峰" ShortName="liqf01" />
        </User>
        <User Role="PM Developer">
            <Names FullName="李俊峰" ShortName="lijf" />
        </User>
        <User Role="Developer">
            <Names FullName="陈伟" ShortName="chenw03" />
        </User>
        <User Role="Tester Developer">
            <Names FullName="周睿" ShortName="zhour" />
        </User>
        <User Role="Developer">
            <Names FullName="唐敦峰" ShortName="tangdf" />
        </User>
        <User Role="Developer">
            <Names FullName="雷启明" ShortName="leiqm" />
        </User>
        <User Role="Developer">
            <Names FullName="殷雄" ShortName="yinx02" />
        </User>
        <User Role="Developer">
            <Names FullName="李凡" ShortName="lif04" />
        </User>
    </Users>
    <TaskTypes>
        <string>BUG</string>
        <string>需求</string>
        <string>修复</string>
    </TaskTypes>
</AppRunOptions>