<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<clear/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Windows" />

		<pages enableViewState="false" enableViewStateMac="false" 
			   enableSessionState="false" autoEventWireup="false" validateRequest="false" 			   
			   pageParserFilterType="MyMVC.ViewTypeParserFilter, MyMVC" 
			   pageBaseType="MyMVC.MyBasePage, MyMVC" 
			   userControlBaseType="MyMVC.MyBaseUserControl, MyMVC">
			<namespaces>
				<add namespace="MyMVC" />
				<add namespace="TaskManagerLib" />
				<add namespace="TaskManagerLib.Common" />
				<add namespace="TaskManagerLib.Model" />
			</namespaces>
			<controls>
				<add tagPrefix="fish" tagName="MainMenu" src="~/Controls/MainMenu.ascx" />
				<add tagPrefix="fish" tagName="PageHeader" src="~/Controls/PageHeader.ascx" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="/ajax/*/*.aspx" verb="*" type="MyMVC.ServiceHandlerFactory, MyMVC" validate="true" />
			<add path="*.aspx" verb="*" type="MyMVC.MvcPageHandlerFactory, MyMVC" validate="true" />
		</httpHandlers>
		<httpModules>
			<add name="UserInfoModule" type="TaskManagerLib.Modules.UserInfoModule, TaskManagerLib"/>
		</httpModules>
	</system.web>
	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="AjaxHandlerFactory" verb="*" path="/ajax/*" type="MyMVC.ServiceHandlerFactory, MyMVC" preCondition="integratedMode" />
			<add name="MvcPageHandlerFactory" verb="*" path="*.aspx" type="MyMVC.MvcPageHandlerFactory, MyMVC" preCondition="integratedMode" />
		</handlers>
		<modules>
			<add name="UserInfoModule" type="TaskManagerLib.Modules.UserInfoModule, TaskManagerLib" preCondition="integratedMode" />
		</modules>
	</system.webServer>

</configuration>
